* {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

body {
  color: #d1c7c7;
  background: #171414;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding-left: 35px;
  height: 100px;
  background: rgba(101, 90, 90, 0.06);
}

header h3 {
  font-weight: 300;
  font-size: 48px;
}

strong {
  font-weight: bold;
}

section {
  height: 100vh;
}

/* SECTION 1 */

.section-1 {
  height: calc(100vh - 100px);
  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: relative;
}

.section-1 p {
  margin-bottom: 70px;
  position: absolute;
  left: 50px;
}

.section-1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  position: absolute;
  right: 30px;
  top: 25%;
}

.section-1 hr:not(.rotate) {
  position: absolute;

  opacity: 0.1;
  margin-bottom: 40px;
  height: 90%;
  z-index: -1;
}

.hr-1 {
  left: 20%;
}

.hr-2 {
  left: 40%;
}

.hr-3 {
  left: 60%;
}

.hr-4 {
  left: 80%;
}

.section-1 div hr {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.section-1 article h2 {
  margin-bottom: 180px;
  margin-left: 80px;
}

.section-1 article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  height: 100%;
  margin-left: 100px;
  margin-bottom: 25px;
}

.section-1 h1 {
  font-size: 95px;
}

.section-1 h2 {
  font-size: 35px;
}

.section-1 h3 {
  font-size: 25px;
  margin-bottom: 130px;
}

.section-1 img {
  width: 45px;
  height: 45px;
}

.rotate {
  transform: rotate(90deg);
}

.a-1 {
  margin-top: 100px;
}

/* SECTION 2 and 3 */
.section-2,
.section-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-2 h1,
.section-3 h1 {
  padding-right: 30px;
  border-right: 1px solid #d1c7c7;
  font-size: 95px;
  font-weight: 700;
}

.section-2 ul,
.section-3 ul {
  gap: 65px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul li {
  list-style: none;
}

ul li img {
  transition: scale 0.4s ease;
  border-radius: 15px;
  width: 150px;
  height: 150px;
}

ul li img:hover {
  scale: 1.1;
}

footer h3 {
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

@media (max-width: 1365px) {
  .section-1 p {
    top: 30px;
  }
}

@media (max-width: 980px) {
  h1 {
    font-size: 60px !important;
  }

  .section-1 article {
    margin-left: 0;
  }
}

@media (max-width: 810px) {
  .section-2,
  .section-3 {
    flex-direction: column;
    height: 50vh;
  }

  .section-1 div {
    flex-direction: row;
    left: 50px;
    top: 50px;
  }

  .section-1 div h3 {
    font-size: 16px;
    white-space: nowrap;
  }

  .section-1 div hr {
    width: 20%;
  }

  .rotate {
    transform: none;
  }

  h3,
  a {
    margin: 0 !important;
    padding: 0 !important;
  }

  .section-1 div a img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 530px) {
  header h3 {
    font-size: 35px !important;
  }

  ul li img {
    width: 100px;
    height: 100px;
  }

  .section-1 div {
    gap: 10px;
  }

  h1 {
    font-size: 38px !important;
  }

  h2 {
    font-size: 28px !important;
  }

  h1,
  h2 {
    white-space: nowrap;
  }

  footer h3 {
    font-size: 14px !important;
    padding-left: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (max-width: 420px) {
  .section-1 div h3 {
    font-size: 14px;
  }

  .section-1 div a img {
    width: 20px;
    height: 20px;
  }

  article h1 {
    font-size: 30px !important;
  }

  article h2 {
    font-size: 20px !important;
  }
}

@media (max-width: 400px) {
  header h3 {
    font-size: 25px !important;
  }

  .section-1 p {
    font-size: 14px !important;
    white-space: nowrap;
  }
}
